@using DeliverTableSharedLibrary.Dtos.Restaurant
@inject IRestaurantService RestaurantService
<ul class="restaurant-list">
    @if (restaurants == null && !loading)
    {
        <li>No restaurants found.</li>
    }
    else if (loading)
    {
        <li>Loading...</li>
    }
    else
    {
        @if (restaurants == null)
        {
            <li class="alert alert-danger">@error</li>
        }
        else
        {
            @foreach (RestaurantDto restaurant in restaurants)
            {
                if (@restaurant != null)
                {
                    <li class="restaurant-card">
                        <div class="restaurant-card-content">
                            <h3>
                                @restaurant.Name
                            </h3>
                            <p>
                                @restaurant.ZipCode @restaurant.City
                            </p>
                        </div>
                        <div class="restaurant-card-controls">
                            <NavLink href=@($"/restaurant/{restaurant.Id}/promotions") class="app-btn" title="Promotions">
                                <Blazicon Svg="Lucide.Tag" class="app-icon" />
                            </NavLink>
                            <NavLink href=@($"/restaurant/{restaurant.Id}/codes-promo") class="app-btn" title="Codes promo">
                                <Blazicon Svg="Lucide.Ticket" class="app-icon" />
                            </NavLink>
                            <NavLink href=@($"/restaurant/{restaurant.Id}/fidelite") class="app-btn" title="Fidélité">
                                <Blazicon Svg="Lucide.Heart" class="app-icon" />
                            </NavLink>
                            <NavLink href=@($"/restaurant/{restaurant.Id}/compte") class="app-btn" title="Compte">
                                <Blazicon Svg="Lucide.Wallet" class="app-icon" />
                            </NavLink>
                            <NavLink href=@($"/restaurant/{restaurant.Id}/commandes") class="app-btn" title="Commandes">
                                <Blazicon Svg="Lucide.ShoppingBag" class="app-icon" />
                            </NavLink>
                            <NavLink href=@($"/restaurant/update/{restaurant.Id}") class="app-btn" title="Modifier">
                                <Blazicon Svg="Lucide.Pencil" class="app-icon" />
                            </NavLink>
                            <button class="app-btn bg-danger" @onclick="() => DeleteRestaurant(restaurant.Id)" title="Supprimer">
                                <Blazicon Svg="Lucide.Trash2" class="app-icon" />
                            </button>
                        </div>
                    </li>
                }
            }
        }
    }
</ul>

@code {
    private List<RestaurantDto>? restaurants;
    private bool loading = true;
    private string? error = null;
    protected override async Task OnInitializedAsync()
    {
        loading = true;
        error = null;

        try
        {
            var (result, errorObject) = await RestaurantService.GetConnectedUserRestaurants();

            if (errorObject != null)
            {
                error = errorObject.Error;
            }
            else
            {
                restaurants = result?.Items.ToList();
            }
        }
        catch (Exception)
        {
            error = "Une erreur est survenue";
        }
        finally
        {
            loading = false;
        }
    }

    private async Task DeleteRestaurant(int id)
    {
        bool deleteResult = await RestaurantService.DeleteRestaurant(id);

        if (deleteResult)
        {
            restaurants?.RemoveAll(r => r.Id == id);
        }
        else
        {
            error = "Erreur lors de la suppression du restaurant";
        }
    }
}