@page "/profil"
@using System.Security.Claims

<PageTitle>Profil</PageTitle>

<h3>Test d'Authentification</h3>

<AuthorizeView Context="auth">
    <Authorized>
        <div class="alert alert-success">
            <h5>✅ Vous êtes connecté !</h5>
            <ul>
                @* On utilise "auth" au lieu de "context" *@
                <li><strong>Nom :</strong> @auth.User.Identity?.Name</li>
                <li><strong>ID :</strong> @auth.User.FindFirst(ClaimTypes.NameIdentifier)?.Value</li>
                <li><strong>Rôle :</strong> @auth.User.FindFirst(ClaimTypes.Role)?.Value</li>
            </ul>
        </div>
        <NavLink href="/restaurant/create" class="app-btn mx-auto my-1">
            <span class="app-nav-icon app-nav-icon--plus" aria-hidden="true"></span>&nbsp;Ajouter un restaurant
        </NavLink>
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-warning">
            ❌ Vous n'êtes pas connecté.
        </div>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Roles="RestaurantOwner">
    <div class="alert alert-info">
        👑 Cet encadré est visible uniquement par un <strong>RestaurantOwner</strong>.
    </div>
</AuthorizeView>
