@page "/health"
@using DeliverTableClient.Components.Test;

<PageTitle>Accueil — DeliverTable</PageTitle>

<div class="health-page">
    @if (_isLoading)
    {
        <div>
            "Waiting";
        </div>
    }
    else if (_health != null)
    {
        <div class="alert @DetermineColor()">
            @_health.Status
        </div>
    }
    else
    {
        <div>
            Une erreur est survenue
        </div>
    }
    @* <AuthorizeView Roles="Customer"> *@
    @*     <Authorized> *@
    @*     </Authorized> *@
    @* </AuthorizeView> *@
</div>
