@page "/"
@using DeliverTableClient.Components.Test

<PageTitle>Accueil — DeliverTable</PageTitle>

<div class="health-page">
    <AuthorizeView Roles="Customer">
        <Authorized>
            <TestComponent />
        </Authorized>
    </AuthorizeView>
</div>

@code {
}
