@use "../../../Styles/abstracts/variables" as *;

.login-form{
    width: 100%;
}

@media (min-width: $breakpoint-desktop) {
    .login-form {
        width: 70%;
    }

    .login-page {
        display: flex;
    }

    .login-page-icon {
        width: 50%;
        background-color: $color-accent;
    }
}