// -----------------------------------------------------------------------------
// Alert component.
// -----------------------------------------------------------------------------

@use '../abstracts/variables' as *;

.alert {
  border-radius: $radius-lg;
  padding: $spacing-sm $spacing-md;
  text-align: center;
  margin: $spacing-md auto;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
}

@each $status, $bg, $border, $text in $alertColors {
  .alert-#{$status} {
    background-color: $bg;
    border: 2px solid $border;
    color: $text;
  }
}
