@using DeliverTableClient.Components
@using DeliverTableClient.Components.Redirect
@using DeliverTableClient.Pages
@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            @* AuthorizeRouteView est crucial ici *@
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
                <Authorizing>
                    <div class="app-authorizing">
                        <span class="app-authorizing__spinner"></span>
                        <p class="app-authorizing__text">Chargement de vos informations ...</p>
                    </div>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <RedirectToNotFound />
        </NotFound>
    </Router>
</CascadingAuthenticationState>
