@inherits LayoutComponentBase
<div class="app-page">
    <div class="app-sidebar">
        <NavMenu/>
    </div>
    <main class="app-main">
        <article class="app-content">
            @Body
        </article>
    </main>
</div>
