@inherits LayoutComponentBase

<div class="app-page">
    <aside class="app-sidebar">
        <NavMenu />
    </aside>
    <main class="app-main">
        <article class="app-content">
            @Body
        </article>
    </main>
</div>
