@use "../../../Styles/abstracts/variables" as *;

.register-form{
    width: 100%;
}

@media (min-width: $breakpoint-desktop) {
    .register-form {
        width: 70%;
    }

    .register-page {
        display: flex;
    }

    .register-page-icon {
        width: 50%;
        background-color: $color-accent;
    }
}